<div class="card">
  @if (isComment() && comment) {
  <div class="card-body">
    <h5 class="card-title">ID: {{ comment.id }}</h5>
    <h6 class="card-subtitle">Post ID: {{ comment.postId }}</h6>
    <p class="card-text"><strong>Name: </strong> {{ comment.name }}</p>
    <p class="card-text"><strong>Email: </strong> {{ comment.email }}</p>
    <p class="card-text"><strong>Body: </strong></p>
    <p class="card-text">{{ comment.body }}</p>
  </div>
  } @if (isPost() && post) {
  <div class="card-body">
    <h5 class="card-title">ID: {{ post.id }}</h5>
    <h6 class="card-subtitle">Post ID: {{ post.postId }}</h6>
    <p class="card-text"><strong>Title: </strong> {{ post.title }}</p>
    <p class="card-text"><strong>Body: </strong></p>
    <p class="card-text">{{ post.body }}</p>
  </div>
  }
</div>
